{% extends "layout.html.jinja" %}
{% block title %} add prompt screen {% endblock %}
{% block content %}
    <div>
        <h1 >Nieuwe prompt</h1>
        <p>Titel</p>
        <input type="text" placeholder="Titel van de prompt">
        <p>Prompt</p>
        <input type="text" placeholder="Wat moet de prompt doen?">
        <button name="Opslaan"></button>
    </div>
{% endblock %}