{% extends "layout.html.jinja" %}
{% block title %} prompt details {% endblock %}
{% block content %}
    <div class="container">
        <div class="d-flex justify-content-start">
            <div class="row">
                <div class="col">
                    <div class="row">
                        <h1>Prompt details</h1>
                    </div>
                    <div class="row">
                        <h2>{{ prompt.prompt_naam }}, {{ prompt.prompt_id }}</h2>
                    </div>

                    <!-- The div under this comment needs to be replaced with a jinja variable-->

                    <div class="row">
                        <p>Wij zijn vragen aan het categoriseren. Kun je de volgende vraag indexeren naar de taxonomie van Bloom? We willen maar 1 categorie per vraag.<br>
                            <br>
                            Kun je het antwoord geven in een RFC8259JSON met de volgende opmaak:
                        </p>

                        <code>
                            {<br>
                            &emsp;"categorie":"Categorie",<br>
                            &emsp;"uitleg":"Uitleg"<br>
                            }
                        </code>
                    </div>

                    <div class="row">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th scope="row" class="col-3">Redacteur:</th>
                                    <td>{{ prompt.redacteur }}</td>
                                </tr>
                                <tr>
                                    <th scope="row" class="col-3">Aangemaakt:</th>
                                    <td><time datetime="{{ prompt.creation_date }}">{{ prompt.creation_date }}</time></td>
                                </tr>
                                <tr>
                                    <th scope="row" class="col-3">Toetsvragen gecategoriseerd:</th>
                                    <td>{{ prompt.categorised_questions }}</td>
                                </tr>
                                <tr>
                                    <th scope="row" class="col-3">Toetsvragen correct:</th>
                                    <td>{{ prompt.correct_questions }}</td>
                                </tr>
                                <tr>
                                    <th scope="row" class="col-3">Toetsvragen incorrect</th>
                                    <td>{{ prompt.incorrect_questions }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
            </div>
            </div>
        </div>
    </div>
{% endblock %}