{% extends "layout.html.jinja" %}
{% block title %} prompt details {% endblock %}
{% block content %}
    <div class="container">
        <div class="d-flex justify-content-start">
            <div class="row">
                <div class="col">
                    <div class="row">
                        <h1>Prompt details</h1>
                    </div>
                    <div class="row">
                        <h2>Jorik prompt V1.0</h2>
                    </div>
                    <div class="row">
                        <p>Wij zijn vragen aan het categoriseren. Kun je de volgende vraag indexeren naar de taxonomie van Bloom? We willen maar 1 categorie per vraag.<br>
                            <br>
                            Kun je het antwoord geven in een RFC8259JSON met de volgende opmaak:
                        </p>

                        <code>
                            {<br>
                            &emsp;"categorie":"Categorie",<br>
                            &emsp;"uitleg":"Uitleg"<br>
                            }
                        </code>
                    </div>
                    <div class="row">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th scope="row" class="col-3">Redacteur:</th>
                                    <td>Jorik</td>
                                </tr>
                                <tr>
                                    <th scope="row" class="col-3">Aangemaakt:</th>
                                    <td><time datetime="2024-11-15">15-11-2024</time></td>
                                </tr>
                                <tr>
                                    <th scope="row" class="col-3">Toetsvragen gecategoriseerd:</th>
                                    <td>190</td>
                                </tr>
                                <tr>
                                    <th scope="row" class="col-3">Toetsvragen correct:</th>
                                    <td>171</td>
                                </tr>
                                <tr>
                                    <th scope="row" class="col-3">Toetsvragen incorrect</th>
                                    <td>19</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
            </div>
            </div>
        </div>
    </div>
{% endblock %}