{% extends "layout.html.jinja" %}
{% block title %} prompts view {% endblock %}
{% block content %}
    <div>
        <h1>AI prompts</h1>
        <table>
            <tr>
                <th scope="col">Prompt</th>
                <th scope="col">Redacteur</th>
                <th scope="col">Toetsvragen</th>
                <th scope="col">Correct</th>
                <th scope="col">Acties</th>
            </tr>
            <tr>
                <td>Jorik prompt V1.0</td>
                <td>Jorik</td>
                <td>190</td>
                <td>90%</td>
                <td>Details</td>
            </tr>
            <tr>
                <td>Joshua prompt V1.0</td>
                <td>Joshua</td>
                <td>60</td>
                <td>89%</td>
                <td>Details</td>
            </tr>
            <tr>
                <td>Roos prompt V1.0</td>
                <td>Roos</td>
                <td>12</td>
                <td>94%</td>
                <td>details</td>
            </tr>
            <tr>
                <td>Tobias prompt V1.0</td>
                <td>Tobias</td>
                <td>87</td>
                <td>73%</td>
                <td>details</td>
            </tr>
        </table>
    </div>
{% endblock %}