{% extends "layout.html.jinja" %}
{% block title %} toetsvragen view {% endblock %}
{% block content %}
    <div class="container">
        <div class="row pb-3">
            <h1>Lijst vragen beantwoord door {{ question.prompt_id }}</h1>
        </div>
        <div class="row pb-3">
            <div class="col">
                <div class="row">
                    <h2>Zoekwoord</h2>
                    <label for="filter-zoekwoord"></label>
                    <input type="text" id="filter-zoekwoord" autocomplete="off">
                </div>
            </div>
        <!-- <input> elements may need to be replaced by <option> elements because in the wireframes
        the 'niveau + jaar' and the 'vak' filters aren't <input> elements but <option> elements -->
            <div class="col">
                <h2>Niveau + jaar</h2>
                <label for="filter-niveau-en-jaar"></label>
                <input type="text" id="filter-niveau-en-jaar" autocomplete="off">
            </div>
            <div class="col">
                <h2>Vak</h2>
                <label for="filter-vak"></label>
                <input type="text" id="filter-vak" autocomplete="off">
            </div>
        </div>
        <div class="row">
            <table class="table table-striped table-hover border border-black border-1">
                <thead>
                    <tr>
                        <th scope="col" class="border-start border-black border-1">nr.</th>
                        <th scope="col" class="border-start border-black border-1">Vraag</th>
                        <th scope="col" class="border-start border-black border-1">Vak</th>
                        <th scope="col" class="border-start border-black border-1">Niveau</th>
                        <th scope="col" class="border-start border-black border-1">Invoerdatum</th>
                        <th scope="col" class="border-start border-black border-1">Goed beantwoord</th>
                    </tr>
                </thead>
                <tbody>
                {% for question in questions %}
                    <tr>
                        <th scope="row" class="border-start border-black border-1">{{ question.id }}</th>
                        <td class="border-start border-black border-1">{{ question.question_name }}</td>
                        <td class="border-start border-black border-1">{{ question.subject }}</td>
                        <td class="border-start border-black border-1">{{ question.school_grade }}</td>
                        <td class="border-start border-black border-1">
                            <time datetime="{{ question.creation_date }}">{{ question.creation_date }}</time>
                        </td>
                        <td class="border-start border-black border-1">
                            {% if question.answered_correctly == True %}
                                <form>
                                    <div class="form-check">
                                        <input type="checkbox" id="checkbox-question-1" class="form-check-label" checked onclick="return false">
                                        <label for="checkbox-question-1" class="form-check-label"></label>
                                    </div>
                                </form>
                            {% else %}
                                <form>
                                    <div class="form-check">
                                        <input type="checkbox" id="checkbox-question-1" class="form-check-label" onclick="return false">
                                        <label for="checkbox-question-1" class="form-check-label"></label>
                                    </div>
                                </form>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}