{% extends "questions/index_questions.html.jinja" %}
{% block index_content %}
    <!-- Als taxonomie beoordelen: -->
    <!-- - ChatGPT's voorstel en reden geven -->
    <h2 class="h5">Resultaat:</h2>
    <table class="table table-bordered table-hover">
        <tr>
            <th>Voorstel</th>
            <td>
                <p><i>{{ taxonomies[answer.selected_taxonomy].name }}</i></p>
            </td>
        </tr>
        <tr>
            <th>Uitleg</th>
            <td>
                {{ answer.explanation }}
            </td>
        </tr>
    </table>
    <form method="post">
        <div class="row">
            <!-- - Een taxonomie selecteren voor de vraag (standaard gezet naar chatgpt's antwoord) -->
            <div class="col-auto">
                <select required class="form-select" id="taxonomy" aria-label="Prompt selecteren">
                    <option value="" disabled class="text-secondary">Kies een taxonomie</option>
                    {% for taxonomy in taxonomies %}
                        <option value="{{ taxonomy.id }}" {% if answer.selected_taxonomy == taxonomy.id %} selected="selected" {% endif %}>{{ taxonomy.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <!-- - Taxonomie opslaan knop -->
            <div class="col-auto mb-2">
                <input type="submit" class="btn btn-primary" value="Taxonomie opslaan">
            </div>
            <!-- - (optioneel) chatgpt's originele taxonomie categorie laten zien als redacteur een andere heeft gekozen    -->
            <p class="text-danger" id="confirmText">Weet u zeker dat u deze keuze wilt wijzigen?</p>
        </div>
        <!-- - (optioneel) confirmatie popup als je taxonomie wijzigt -->
    </form>
    <script>
        // Show message if choice changed
        const selectedTaxonomy = document.querySelector('#taxonomy');
        const confirmText = document.querySelector('#confirmText');

        confirmText.style.display = "none"

        selectedTaxonomy.addEventListener('change', event => {
            if (selectedTaxonomy.value === "{{ answer.selected_taxonomy }}")
            {
                confirmText.style.display = "none"
            }
            else
            {
                confirmText.style.display = "block"
            }
        });
    </script>
{% endblock %}