{% extends "layout.html" %}
{% block title %}Vragen Importeren{% endblock %}
{% block content %}
    <!-- Common -->
    <h1>Vragen indexeren maar taxonomie</h1>

    <!-- Als prompt selecteren: -->
    <!-- - Een prompt selecteren -->
    <!-- - Een genereer knop -->

    <!-- Als taxonomie beoordelen: -->
    <!-- - ChatGPT's voorstel en reden geven -->
    <!-- - Een taxonomie selecteren voor de vraag (standaard gezet naar chatgpt's antwoord) -->
    <!-- - (optioneel) chatgpt's originele taxonomie categorie laten zien als redacteur een andere heeft gekozen    -->
    <!-- - (optioneel) confirmatie popup als je taxonomie wijzigt -->
    <!-- - Taxonomie opslaan knop -->
{% endblock %}