{% extends "layout.html" %}
{% block title %}Vragen Importeren{% endblock %}
{% block content %}
    <!-- Als prompt selecteren: -->
    <!-- - Een prompt selecteren -->
    <!-- - Een genereen knop -->

    <!-- Als taxonomie beoordelen: -->
    <!-- ChatGPT's voorstel en reden geven -->
    <!-- Een taxonomie selecteren voor de vraag (standaard gezet naar chatgpt's antwoord) -->
    <!-- (optioneel) chatgpt's orginele taxonomie categorie laten zien als redacteur een andere heeft gekozen    -->
    <!-- (optioneel) confirmatie popup als je taxonomie wijzigt -->
    <!-- Taxonomie oplaan knop -->
{% endblock %}