{% extends "layout.html.jinja" %}
{% block title %}Nieuwe redacteur{% endblock %}
{% block content %}

<div class="pt-3 container d-flex flex-column">
    <h1 class="fw-light pb-3">Nieuwe redacteur</h1>

    <div class="d-flex gap-3">
        <div class="mb-4 px-4 py-3 col-4 border border-light-subtle bg-light-subtle rounded-3">
            <form>
                <div class="mb-3">
                    <label for="name" class="form-label">Naam</label>
                    <input type="text" class="form-control" id="name" name="name">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email/login</label>
                    <input type="email" class="form-control" id="email" name="email">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Wachtwoord</label>
                    <input type="password" class="form-control" id="password" name="password">
                </div>
                <div class="mb-3">
                    <div class="form-check form-switch">
                        <label class="form-check-label" for="flexSwitchCheckDefault">Is admin?</label>
                        <input class="form-check-input" type="checkbox" role="switch"
                               id="flexSwitchCheckDefault">
                    </div>
                </div>
                <button class="btn btn-primary" type="submit">Opslaan</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}