{% with errors = get_flashed_messages(category_filter=["success"]) %}
    {% if errors %}
        {% for error in errors %}
            <div class="alert alert-info d-flex align-items-center" role="alert">
                <i class="fa fa-info-circle fa-2x fa-fw me-1"></i>
                {{ error }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}
{% with errors = get_flashed_messages(category_filter=["error"]) %}
    {% if errors %}
        {% for error in errors %}
            <div class="alert alert-danger d-flex align-items-center" role="alert">
                <i class="fa fa-exclamation-triangle fa-2x fa-fw"></i>
                <strong class="mx-1">Error:</strong> {{ error }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}