{% extends "layout.html.jinja" %}
{% block title %}Gegevens redacteur wijzigen{% endblock %}
{% block content %}


<div class="container py-4 py-xl-5">
    <div class="position-relative">
        <div class="position-absolute top-0 start-0"></div>
        <h2>Redacteuren</h2>
    </div>
</div>
<table class="table table-hover table-bordered table-striped" style="width:80%">
    <thead>
    <tr>
        <th class="col">Redacteuren</th>
        <th scope="col">Loginnaam</th>
        <th scope="col">Admin</th>
        <th scope="col">Acties</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td scope="row">Mark Doe</td>
        <td>mark@doe.nl</td>
        <td>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
            </div>
        </td>
        <td><a href="redacteur_wijzigen" class="btn btn-primary">wijzig</a></td>
    </tr>
    <tr>
        <td scope="row">Jacob Doe</td>
        <td>jacob@doe.nl</td>
        <td>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
            </div>
        </td>
        <td><a href="redacteur_wijzigen" class="btn btn-primary">wijzig</a></td>
    </tr>
    <tr>
        <td scope="row">Jane Doe</td>
        <td>jane@doe.nl</td>
        <td>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
            </div>
        </td>
        <td><a href="redacteur_wijzigen" class="btn btn-primary">wijzig</a></td>
    </tr>
    </tbody>
</table>
<div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button class="btn btn-primary me-md-2" type="button">Wijzig eigen gegevens</button>
    <button class="btn btn-primary" type="button">Nieuwe redacteur</button>
</div>

{% endblock %}