<nav id="navbar" class="navbar navbar-expand bg-light shadow-sm">
    {% block navbar %}
        <div class="container">
            <a class="navbar-brand" href="index-1.html">404 Not-Found</a>
            <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="Vragen.html">Vragen</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Prompt</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Redacteuren</a>
                    </li>
                </ul>
                <a class="btn btn-primary" role="button" href="Login.html" style="margin-left: 700px;margin-right: 5px;">Login</a>
            </div>
        </div>
    {% endblock %}
</nav>