{% include "navigation.html.jinja" %}

{% block content %}

    <section class="text-center bg-light features-icons">
        <section class="position-relative py-4 py-xl-5"></section>
    </section>
    <section class="showcase"></section>
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
{% endblock %}
{% include "footer.html.jinja" %}